@model Etudiant.Data.Utilisateurs

@{
    ViewBag.Title = "Consultation d'un utilisateur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Utilisateurs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etudiants.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etudiants.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Professeurs.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professeurs.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour sur la liste", "Index")
</p>
